/*------- GENERAL SET UP ----------------------------------------------------------------------------*/

	*, *::before, *::after {
		margin:0;
		padding:0;
		box-sizing:border-box;
		-webkit-tap-highlight-color:transparent;
		user-select:none;
	}
	
	html, body {
		min-height:100%;
	}
	
	body {
		font-size:16px;
		color:#000;
		background-color:#212121;
	}

/*-------- CARDS ------------------------------------------------------------------------------------*/

    #card-container {
        height:90vh;
        display:grid;
        grid-template-columns:repeat(4, 1fr);
        grid-template-rows:repeat(4, 1fr);
        gap:.25em;
        padding:.25em;
    }
    .card {
        border:.1em solid #141414;
        border-radius:.3em;
    }
    .card p:first-child {
        font-size:3em;
        width:100%;
        height:80%;
        display:flex;
        justify-content:center;
        align-items:center;
    }
    .card-desc {
        font-style:italic;
        height:20%;
        display:flex;
        align-items:center;
        justify-content:flex-end;
        padding:.3em;
    }

/*remove and append card buttons*/  
    .card-button {
        display:flex;
        justify-content:space-between;
        background-color:#121212;
        height:10vh;
    }
    .material-icons-round {
        color:#fff;
        font-size:2.3em;
        width:50%;
        height:100%;
        display:flex;
        justify-content:center;
        align-items:center;
    }
    .card-button span:active {
        border-radius:.2em;
        background-color:#0e0e0e;
    }
    
/*card background color*/  
    [data-current-bg = "gray"] {
    	background-color:#808487;
    }
    [data-current-bg = "green"] {
    	background-color:#009900;
    }
    [data-current-bg = "yellow"] {
    	background-color:#f0c420;
    }
    [data-current-bg = "red"] {
    	background-color:#9a0e2a;
    }